@import './utility/variables';
@import './utility/mixin';
@import './header';
@import './content';
@import './navbar';

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $primaryC;
}

.modal{
    position: fixed;
    height: 300px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    padding: 5px;
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    div{
        width: 100%;
        input{
            width:95%;
            height: 1.5rem;
        }
        select{
            width: 96%;
            height: 1.5rem;
        }
    }
    #taskDescription{
        resize: none;
        padding: 5px;
        width: 95%;
    }

    #submit-button{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        button{
            height: 30px;
            width: 50px;
            font-size: large;
        }
    }
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, .5);
    pointer-events: none;
}
.overlay.active{
    opacity: 1;
    pointer-events: all;
}
